<header>
    <div class="logo">
        <a href="../index.html">
            <img src="../images/pngwing.com.png" alt="logo for site">
        </a>
    </div>
    <div class="headline">
        <h1>IDK, What Do You Want?</h1>
    </div>
    <div class="signUp">
        <a href="https://cse341-restaurant-picker.herokuapp.com/login"><button class="login-btn">Login</button></a>
        <a href="https://cse341-restaurant-picker.herokuapp.com/login"><button class="signIn-btn">Sign Up</button></a>

    </div>

</header>

<br>
<hr>